<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>2048</title>

</head>

<body>
    <div class="vertical-flex-container">

        <h1>2048</h1>
        <h4>Join the numbers and get to the 2048 tile <br> ...or watch the AI player do its thing.</h4>

        <input type="button" onclick="new_game()" value="New Game" id="new_game_btn">
        <input type="button" onclick="run_ai()" value="Run AI" id="run_ai_btn">
        <input type="button" onclick="pause_ai()" value="Pause AI" style="display:none" id="pause_ai_btn">

        <div class="grid" id="grid">
            {% for i in range(4) %} {% for j in range(4) %}
            <div id="grid{{i}}{{j}}"></div>
            {% endfor %} {% endfor %}
        </div>
        <br>
        <p style="font-size:1.5em" id="help">Use arrow keys</p>
        <p style="font-size:5em" id="arrow"></p>
        <h2 id="game-over-message" style="visibility:hidden">GAME OVER</h2>

    </div>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Custom JS -->
    <script>
        function pause_ai() {
            pause = true
            document.getElementById("help").style.display = ""; // show help text
            document.getElementById("arrow").innerHTML = ""; // hide arrow
            document.getElementById("new_game_btn").disabled = false;
            document.getElementById("run_ai_btn").style.display = ""; // show run ai button
            document.getElementById("pause_ai_btn").style.display = "none";
        }

        function fill_grid(grid) {
            for (let i = 0; i < 4; i++) {
                for (let j = 0; j < 4; j++) {
                    element = document.getElementById("grid" + i + j)
                    element.innerHTML = "";
                    element.classList = []

                    if (grid[i][j] != 0) {
                        element.innerHTML = grid[i][j];
                    }
                    element.classList.add("tile_value_" + grid[i][j])
                }
            }
        }

        function new_game() {
            game_over = false
            pause = true // ai is paused at the beginning
            document.getElementById("help").style.display = "";
            document.getElementById("arrow").innerHTML = "";
            document.getElementById("arrow").style.display = "";
            document.getElementById("game-over-message").style.visibility = "hidden";
            document.getElementById("run_ai_btn").style.display = "";
            document.getElementById("pause_ai_btn").style.display = "none";
            document.getElementById("run_ai_btn").disabled = false;
            document.getElementById("pause_ai_btn").disabled = false;

            $.ajax({
                type: 'GET',
                url: "{{ url_for('new_game') }}",
                dataType: 'json',
                success: function(data) {
                    grid = data["grid"]
                    fill_grid(grid)
                }
            });
        }

        function update_ui(data) {
            document.getElementById("arrow").innerHTML = data['direction']
            grid = data["grid"]
            fill_grid(data["grid"])
            if (data['game_over']) {
                document.getElementById("game-over-message").style.visibility = "visible";
                document.getElementById("run_ai_btn").disabled = true;
                document.getElementById("pause_ai_btn").disabled = true;
                document.getElementById("arrow").style.display = "none";
                document.getElementById("new_game_btn").disabled = false;
                game_over = true;
            }
        }

        function human_move(direction) {
            if (!game_over) {
                if (!pause) {
                    pause_ai()
                }
                document.getElementById("help").style.display = "none";
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('human_move') }}",
                    data: {
                        "grid": JSON.stringify(grid),
                        "direction": direction
                    },
                    dataType: 'json',
                    success: function(data) {
                        update_ui(data)
                    }
                });
            }
        }

        function run_ai() {
            pause = false
            document.getElementById("new_game_btn").disabled = true;
            document.getElementById("pause_ai_btn").style.display = "";
            document.getElementById("run_ai_btn").style.display = "none";
            document.getElementById("help").style.display = "none";
            $.ajax({
                type: 'POST',
                url: "{{ url_for('ai_move') }}",
                data: {
                    "grid": JSON.stringify(grid)
                },
                dataType: 'json',
                success: function(data) {
                    if (pause) {
                        pause_ai()
                    } else {
                        update_ui(data)
                        if (!data["game_over"]) {
                            run_ai()
                        }
                    }
                }
            });
        }

        function add_eventlisteners() {
            // Disable default window scrolling on arrow-keys
            window.addEventListener("keydown", function(e) {
                    if ([37, 38, 39, 40].indexOf(e.keyCode) > -1) {
                        e.preventDefault();
                    }
                },
                false
            );
            // Eventlisteners for arrow keys (human moves)
            document.addEventListener('keydown', event => {
                switch (event.keyCode) {
                    case 37:
                        human_move("l");
                        break;

                    case 39:
                        human_move("r");
                        break;

                    case 38:
                        human_move("u");
                        break;

                    case 40:
                        human_move("d");
                        break;
                }
            });
        }

        add_eventlisteners()
        new_game()
    </script>

</body>

</html>